@media only screen and (min-width: 768px) {
  .formRow {
    padding: 0 20% 0 20% !important;
  }
  .theModal{
    min-height: 800px;
  }
}

.theModal{
  min-height: 500px;
}
.validator{
  color: #dc3545;
}

.table{
  text-align: center;
}
