
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3" >
          <div class="card customLargebtn" routerLink="/members">
            <img class="card-img-top" src="../../../assets/home-Img/watching.png" alt="Card image cap member">
          <div class="card-body">
            <h5>New Member</h5>
          </div>
          </div>
        </div>
        <div class="d-md-none">
          <br>
        </div>
        <div class="col-md-3">
          <div class="card customLargebtn" routerLink="/movies">
            <img class="card-img-top" src="../../../assets/home-Img/clapperboard.png" alt="Card image cap movie">
            <div class="card-body">
              <h5>Search Movies</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>





